In [37]:
import pandas as  pd

In [38]:
df=pd.read_csv("ds.csv",index_col=0)[::-1]
df

             Date   Price    Open    High     Low     Vol. Change %
598  Jan 02, 2020  171.26  170.54  171.42  170.19  509.18K    0.45%
597  Jan 03, 2020  172.12  171.10  172.38  171.10  528.22K    0.50%
596  Jan 06, 2020  172.24  172.45  172.60  172.07  496.41K    0.07%
595  Jan 07, 2020  172.12  172.21  172.31  171.91  582.59K   -0.07%
594  Jan 08, 2020  171.78  172.50  173.22  171.26  825.68K   -0.20%
..            ...     ...     ...     ...     ...      ...      ...
4    Apr 25, 2022  154.89  153.14  155.26  153.11  814.83K    1.07%
3    Apr 26, 2022  155.49  154.56  155.72  154.19        -    0.39%
2    Apr 27, 2022  155.46  155.45  155.83  154.82  779.88K   -0.02%
1    Apr 28, 2022  154.15  155.35  156.00  154.02  961.40K   -0.84%
0    Apr 29, 2022  153.59  154.44  154.69  153.43  979.01K   -0.36%

[599 rows x 7 columns]

In [39]:
df.columns

Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [40]:
df_new=df[['Date',  'Open', 'High', 'Low','Price', 'Vol.', 'Change %']]

In [43]:
df_new.reset_index(drop=True)
df_new

             Date    Open    High     Low   Price     Vol. Change %
598  Jan 02, 2020  170.54  171.42  170.19  171.26  509.18K    0.45%
597  Jan 03, 2020  171.10  172.38  171.10  172.12  528.22K    0.50%
596  Jan 06, 2020  172.45  172.60  172.07  172.24  496.41K    0.07%
595  Jan 07, 2020  172.21  172.31  171.91  172.12  582.59K   -0.07%
594  Jan 08, 2020  172.50  173.22  171.26  171.78  825.68K   -0.20%
..            ...     ...     ...     ...     ...      ...      ...
4    Apr 25, 2022  153.14  155.26  153.11  154.89  814.83K    1.07%
3    Apr 26, 2022  154.56  155.72  154.19  155.49        -    0.39%
2    Apr 27, 2022  155.45  155.83  154.82  155.46  779.88K   -0.02%
1    Apr 28, 2022  155.35  156.00  154.02  154.15  961.40K   -0.84%
0    Apr 29, 2022  154.44  154.69  153.43  153.59  979.01K   -0.36%

[599 rows x 7 columns]

In [8]:
df_new.rename(columns={"Price": "Close"}, inplace=True)

In [9]:
df_new

             Date    Open    High     Low   Close     Vol. Change %
0    Apr 29, 2022  154.44  154.69  153.43  153.59  979.01K   -0.36%
1    Apr 28, 2022  155.35  156.00  154.02  154.15  961.40K   -0.84%
2    Apr 27, 2022  155.45  155.83  154.82  155.46  779.88K   -0.02%
3    Apr 26, 2022  154.56  155.72  154.19  155.49        -    0.39%
4    Apr 25, 2022  153.14  155.26  153.11  154.89  814.83K    1.07%
..            ...     ...     ...     ...     ...      ...      ...
594  Jan 08, 2020  172.50  173.22  171.26  171.78  825.68K   -0.20%
595  Jan 07, 2020  172.21  172.31  171.91  172.12  582.59K   -0.07%
596  Jan 06, 2020  172.45  172.60  172.07  172.24  496.41K    0.07%
597  Jan 03, 2020  171.10  172.38  171.10  172.12  528.22K    0.50%
598  Jan 02, 2020  170.54  171.42  170.19  171.26  509.18K    0.45%

[599 rows x 7 columns]

In [10]:
# calculate ATR for df_new

In [11]:
df_new['high_low'] = df_new["High"] - df_new["Low"]
df_new["high_close"]= abs(df_new["High"] - df_new["Close"].shift(1))
df_new["low_close"]= abs(df_new["Low"] - df_new["Close"].shift(1))

In [12]:
df_new

,Date,Open,High,Low,Close,Vol.,Change %,high_low,high_close,low_close
0,"Apr 29, 2022",154.44,154.69,153.43,153.59,979.01K,-0.36%,1.26,NaN,NaN
1,"Apr 28, 2022",155.35,156.00,154.02,154.15,961.40K,-0.84%,1.98,2.41,0.43
2,"Apr 27, 2022",155.45,155.83,154.82,155.46,779.88K,-0.02%,1.01,1.68,0.67
3,"Apr 26, 2022",154.56,155.72,154.19,155.49,-,0.39%,1.53,0.26,1.27
4,"Apr 25, 2022",153.14,155.26,153.11,154.89,814.83K,1.07%,2.15,0.23,2.38
...,...,...,...,...,...,...,...,...,...,...
594,"Jan 08, 2020",172.50,173.22,171.26,171.78,825.68K,-0.20%,1.96,2.08,0.12
595,"Jan 07, 2020",172.21,172.31,171.91,172.12,582.59K,-0.07%,0.40,0.53,0.13
596,"Jan 06, 2020",172.45,172.60,172.07,172.24,496.41K,0.07%,0.53,0.48,0.05
597,"Jan 03, 2020",171.10,172.38,171.10,172.12,528.22K,0.50%,1.28,0.14,1.14
598,"Jan 02, 2020",170.54,171.42,170.19,171.26,509.18K,0.45%,1.23,0.70,1.93

In [13]:
df_new["TR"] = df_new[["high_low", "high_close", "low_close"]].max(axis=1)
df_new

,Date,Open,High,Low,Close,Vol.,Change %,high_low,high_close,low_close,TR
0,"Apr 29, 2022",154.44,154.69,153.43,153.59,979.01K,-0.36%,1.26,NaN,NaN,1.26
1,"Apr 28, 2022",155.35,156.00,154.02,154.15,961.40K,-0.84%,1.98,2.41,0.43,2.41
2,"Apr 27, 2022",155.45,155.83,154.82,155.46,779.88K,-0.02%,1.01,1.68,0.67,1.68
3,"Apr 26, 2022",154.56,155.72,154.19,155.49,-,0.39%,1.53,0.26,1.27,1.53
4,"Apr 25, 2022",153.14,155.26,153.11,154.89,814.83K,1.07%,2.15,0.23,2.38,2.38
...,...,...,...,...,...,...,...,...,...,...,...
594,"Jan 08, 2020",172.50,173.22,171.26,171.78,825.68K,-0.20%,1.96,2.08,0.12,2.08
595,"Jan 07, 2020",172.21,172.31,171.91,172.12,582.59K,-0.07%,0.40,0.53,0.13,0.53
596,"Jan 06, 2020",172.45,172.60,172.07,172.24,496.41K,0.07%,0.53,0.48,0.05,0.53
597,"Jan 03, 2020",171.10,172.38,171.10,172.12,528.22K,0.50%,1.28,0.14,1.14,1.28
598,"Jan 02, 2020",170.54,171.42,170.19,171.26,509.18K,0.45%,1.23,0.70,1.93,1.93

In [14]:
ATR=df_new["TR"].mean()
ATR

1.0072120200333894

In [15]:
# function to calculate standard deviation of "col" of last n days
def std_dev(df,col,n):
    return df[col].tail(n).std()

In [16]:
std_dev(df_new,"Close", 2)

0.6081118318204405

In [17]:
df_new["ATR"]=df_new["TR"].rolling(window=len(df_new)).mean()

In [18]:
df_new['ATR']=df_new["TR"].expanding().mean()
df_new

,Date,Open,High,Low,Close,Vol.,Change %,high_low,high_close,low_close,TR,ATR
0,"Apr 29, 2022",154.44,154.69,153.43,153.59,979.01K,-0.36%,1.26,NaN,NaN,1.26,1.260000
1,"Apr 28, 2022",155.35,156.00,154.02,154.15,961.40K,-0.84%,1.98,2.41,0.43,2.41,1.835000
2,"Apr 27, 2022",155.45,155.83,154.82,155.46,779.88K,-0.02%,1.01,1.68,0.67,1.68,1.783333
3,"Apr 26, 2022",154.56,155.72,154.19,155.49,-,0.39%,1.53,0.26,1.27,1.53,1.720000
4,"Apr 25, 2022",153.14,155.26,153.11,154.89,814.83K,1.07%,2.15,0.23,2.38,2.38,1.852000
...,...,...,...,...,...,...,...,...,...,...,...,...
594,"Jan 08, 2020",172.50,173.22,171.26,171.78,825.68K,-0.20%,1.96,2.08,0.12,2.08,1.006807
595,"Jan 07, 2020",172.21,172.31,171.91,172.12,582.59K,-0.07%,0.40,0.53,0.13,0.53,1.006007
596,"Jan 06, 2020",172.45,172.60,172.07,172.24,496.41K,0.07%,0.53,0.48,0.05,0.53,1.005209
597,"Jan 03, 2020",171.10,172.38,171.10,172.12,528.22K,0.50%,1.28,0.14,1.14,1.28,1.005669
598,"Jan 02, 2020",170.54,171.42,170.19,171.26,509.18K,0.45%,1.23,0.70,1.93,1.93,1.007212

In [19]:
std_dev(df_new,"Close", 10)

0.515109481351086

In [20]:
std_dev(df_new,"ATR", 20)

0.002017462287291026

In [21]:
std_dev(df_new,"TR", 20)

0.47835353585309587

In [22]:
df_new.to_csv("ds_new.csv")

In [23]:
# add standard deviation to df_new

TypeError: rolling() missing 1 required positional argument: 'window'

In [26]:
df_new.index

RangeIndex(start=0, stop=599, step=1)