In [79]:
import pandas as  pd

In [80]:
df=pd.read_csv("ds.csv",index_col=0)[::-1]
df

               Price    Open    High     Low     Vol. Change %
Date
Jan 02, 2020  171.26  170.54  171.42  170.19  509.18K    0.45%
Jan 03, 2020  172.12  171.10  172.38  171.10  528.22K    0.50%
Jan 06, 2020  172.24  172.45  172.60  172.07  496.41K    0.07%
Jan 07, 2020  172.12  172.21  172.31  171.91  582.59K   -0.07%
Jan 08, 2020  171.78  172.50  173.22  171.26  825.68K   -0.20%
...              ...     ...     ...     ...      ...      ...
Apr 25, 2022  154.89  153.14  155.26  153.11  814.83K    1.07%
Apr 26, 2022  155.49  154.56  155.72  154.19        -    0.39%
Apr 27, 2022  155.46  155.45  155.83  154.82  779.88K   -0.02%
Apr 28, 2022  154.15  155.35  156.00  154.02  961.40K   -0.84%
Apr 29, 2022  153.59  154.44  154.69  153.43  979.01K   -0.36%

[599 rows x 6 columns]

In [81]:
df.columns

Index(['Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [82]:
df_new=df[['Open', 'High', 'Low','Price', 'Vol.', 'Change %']]
df_new.index=df_new.index.map(str)

In [83]:
df_new

                Open    High     Low   Price     Vol. Change %
Date
Jan 02, 2020  170.54  171.42  170.19  171.26  509.18K    0.45%
Jan 03, 2020  171.10  172.38  171.10  172.12  528.22K    0.50%
Jan 06, 2020  172.45  172.60  172.07  172.24  496.41K    0.07%
Jan 07, 2020  172.21  172.31  171.91  172.12  582.59K   -0.07%
Jan 08, 2020  172.50  173.22  171.26  171.78  825.68K   -0.20%
...              ...     ...     ...     ...      ...      ...
Apr 25, 2022  153.14  155.26  153.11  154.89  814.83K    1.07%
Apr 26, 2022  154.56  155.72  154.19  155.49        -    0.39%
Apr 27, 2022  155.45  155.83  154.82  155.46  779.88K   -0.02%
Apr 28, 2022  155.35  156.00  154.02  154.15  961.40K   -0.84%
Apr 29, 2022  154.44  154.69  153.43  153.59  979.01K   -0.36%

[599 rows x 6 columns]

In [84]:
df_new.rename(columns={"Price": "Close"}, inplace=True)

In [85]:
df_new

                Open    High     Low   Close     Vol. Change %
Date
Jan 02, 2020  170.54  171.42  170.19  171.26  509.18K    0.45%
Jan 03, 2020  171.10  172.38  171.10  172.12  528.22K    0.50%
Jan 06, 2020  172.45  172.60  172.07  172.24  496.41K    0.07%
Jan 07, 2020  172.21  172.31  171.91  172.12  582.59K   -0.07%
Jan 08, 2020  172.50  173.22  171.26  171.78  825.68K   -0.20%
...              ...     ...     ...     ...      ...      ...
Apr 25, 2022  153.14  155.26  153.11  154.89  814.83K    1.07%
Apr 26, 2022  154.56  155.72  154.19  155.49        -    0.39%
Apr 27, 2022  155.45  155.83  154.82  155.46  779.88K   -0.02%
Apr 28, 2022  155.35  156.00  154.02  154.15  961.40K   -0.84%
Apr 29, 2022  154.44  154.69  153.43  153.59  979.01K   -0.36%

[599 rows x 6 columns]

In [87]:
df_new['high_low'] = df_new["High"] - df_new["Low"]
df_new["high_close"]= abs(df_new["High"] - df_new["Close"].shift(1))
df_new["low_close"]= abs(df_new["Low"] - df_new["Close"].shift(1))

In [88]:
df_new

,Open,High,Low,Close,Vol.,Change %,high_low,high_close,low_close
Date,,,,,,,,,
"Jan 02, 2020",170.54,171.42,170.19,171.26,509.18K,0.45%,1.23,NaN,NaN
"Jan 03, 2020",171.10,172.38,171.10,172.12,528.22K,0.50%,1.28,1.12,0.16
"Jan 06, 2020",172.45,172.60,172.07,172.24,496.41K,0.07%,0.53,0.48,0.05
"Jan 07, 2020",172.21,172.31,171.91,172.12,582.59K,-0.07%,0.40,0.07,0.33
"Jan 08, 2020",172.50,173.22,171.26,171.78,825.68K,-0.20%,1.96,1.10,0.86
...,...,...,...,...,...,...,...,...,...
"Apr 25, 2022",153.14,155.26,153.11,154.89,814.83K,1.07%,2.15,2.01,0.14
"Apr 26, 2022",154.56,155.72,154.19,155.49,-,0.39%,1.53,0.83,0.70
"Apr 27, 2022",155.45,155.83,154.82,155.46,779.88K,-0.02%,1.01,0.34,0.67
"Apr 28, 2022",155.35,156.00,154.02,154.15,961.40K,-0.84%,1.98,0.54,1.44
"Apr 29, 2022",154.44,154.69,153.43,153.59,979.01K,-0.36%,1.26,0.54,0.72

In [89]:
df_new["TR"] = df_new[["high_low", "high_close", "low_close"]].max(axis=1)
df_new

,Open,High,Low,Close,Vol.,Change %,high_low,high_close,low_close,TR
Date,,,,,,,,,,
"Jan 02, 2020",170.54,171.42,170.19,171.26,509.18K,0.45%,1.23,NaN,NaN,1.23
"Jan 03, 2020",171.10,172.38,171.10,172.12,528.22K,0.50%,1.28,1.12,0.16,1.28
"Jan 06, 2020",172.45,172.60,172.07,172.24,496.41K,0.07%,0.53,0.48,0.05,0.53
"Jan 07, 2020",172.21,172.31,171.91,172.12,582.59K,-0.07%,0.40,0.07,0.33,0.40
"Jan 08, 2020",172.50,173.22,171.26,171.78,825.68K,-0.20%,1.96,1.10,0.86,1.96
...,...,...,...,...,...,...,...,...,...,...
"Apr 25, 2022",153.14,155.26,153.11,154.89,814.83K,1.07%,2.15,2.01,0.14,2.15
"Apr 26, 2022",154.56,155.72,154.19,155.49,-,0.39%,1.53,0.83,0.70,1.53
"Apr 27, 2022",155.45,155.83,154.82,155.46,779.88K,-0.02%,1.01,0.34,0.67,1.01
"Apr 28, 2022",155.35,156.00,154.02,154.15,961.40K,-0.84%,1.98,0.54,1.44,1.98
"Apr 29, 2022",154.44,154.69,153.43,153.59,979.01K,-0.36%,1.26,0.54,0.72,1.26

In [90]:
ATR=df_new["TR"].mean()
ATR

0.8725208681135229

In [91]:
# function to calculate standard deviation of "col" of last n days
def std_dev(df,col,n):
    return df[col].head(n).std()

In [92]:
std_dev(df_new,"Close", 2)

0.6081118318204405

In [93]:
df_new["ATR"]=df_new["TR"].rolling(window=len(df_new)).mean()

In [94]:
df_new['ATR']=df_new["TR"].expanding().mean()
df_new

,Open,High,Low,Close,Vol.,Change %,high_low,high_close,low_close,TR,ATR
Date,,,,,,,,,,,
"Jan 02, 2020",170.54,171.42,170.19,171.26,509.18K,0.45%,1.23,NaN,NaN,1.23,1.230000
"Jan 03, 2020",171.10,172.38,171.10,172.12,528.22K,0.50%,1.28,1.12,0.16,1.28,1.255000
"Jan 06, 2020",172.45,172.60,172.07,172.24,496.41K,0.07%,0.53,0.48,0.05,0.53,1.013333
"Jan 07, 2020",172.21,172.31,171.91,172.12,582.59K,-0.07%,0.40,0.07,0.33,0.40,0.860000
"Jan 08, 2020",172.50,173.22,171.26,171.78,825.68K,-0.20%,1.96,1.10,0.86,1.96,1.080000
...,...,...,...,...,...,...,...,...,...,...,...
"Apr 25, 2022",153.14,155.26,153.11,154.89,814.83K,1.07%,2.15,2.01,0.14,2.15,0.868672
"Apr 26, 2022",154.56,155.72,154.19,155.49,-,0.39%,1.53,0.83,0.70,1.53,0.869782
"Apr 27, 2022",155.45,155.83,154.82,155.46,779.88K,-0.02%,1.01,0.34,0.67,1.01,0.870017
"Apr 28, 2022",155.35,156.00,154.02,154.15,961.40K,-0.84%,1.98,0.54,1.44,1.98,0.871873
"Apr 29, 2022",154.44,154.69,153.43,153.59,979.01K,-0.36%,1.26,0.54,0.72,1.26,0.872521

In [95]:
std_dev(df_new,"Close", 10)

0.515109481351086

In [96]:
std_dev(df_new,"ATR", 20)

0.16256644591493657

In [97]:
std_dev(df_new,"TR", 20)

0.39509192801036624

In [98]:
df_new.to_csv("ds_new.csv")

In [99]:
df_new

,Open,High,Low,Close,Vol.,Change %,high_low,high_close,low_close,TR,ATR
Date,,,,,,,,,,,
"Jan 02, 2020",170.54,171.42,170.19,171.26,509.18K,0.45%,1.23,NaN,NaN,1.23,1.230000
"Jan 03, 2020",171.10,172.38,171.10,172.12,528.22K,0.50%,1.28,1.12,0.16,1.28,1.255000
"Jan 06, 2020",172.45,172.60,172.07,172.24,496.41K,0.07%,0.53,0.48,0.05,0.53,1.013333
"Jan 07, 2020",172.21,172.31,171.91,172.12,582.59K,-0.07%,0.40,0.07,0.33,0.40,0.860000
"Jan 08, 2020",172.50,173.22,171.26,171.78,825.68K,-0.20%,1.96,1.10,0.86,1.96,1.080000
...,...,...,...,...,...,...,...,...,...,...,...
"Apr 25, 2022",153.14,155.26,153.11,154.89,814.83K,1.07%,2.15,2.01,0.14,2.15,0.868672
"Apr 26, 2022",154.56,155.72,154.19,155.49,-,0.39%,1.53,0.83,0.70,1.53,0.869782
"Apr 27, 2022",155.45,155.83,154.82,155.46,779.88K,-0.02%,1.01,0.34,0.67,1.01,0.870017
"Apr 28, 2022",155.35,156.00,154.02,154.15,961.40K,-0.84%,1.98,0.54,1.44,1.98,0.871873
"Apr 29, 2022",154.44,154.69,153.43,153.59,979.01K,-0.36%,1.26,0.54,0.72,1.26,0.872521

In [100]:
# use std_dev to calculate std_dev of close price for last n days
df_new["std_dev_close"]=df_new["Close"].apply(lambda x: std_dev(df_new,"Close",n))

SyntaxError: invalid syntax (1475087988.py, line 1)

In [101]:
# rollings std_dev of close price for last n days
n=5
df_new["std_dev_close"]=df_new["Close"].rolling(window=n).std()

In [102]:
df_new

,Open,High,Low,Close,Vol.,Change %,high_low,high_close,low_close,TR,ATR,std_dev_close
Date,,,,,,,,,,,,
"Jan 02, 2020",170.54,171.42,170.19,171.26,509.18K,0.45%,1.23,NaN,NaN,1.23,1.230000,NaN
"Jan 03, 2020",171.10,172.38,171.10,172.12,528.22K,0.50%,1.28,1.12,0.16,1.28,1.255000,NaN
"Jan 06, 2020",172.45,172.60,172.07,172.24,496.41K,0.07%,0.53,0.48,0.05,0.53,1.013333,NaN
"Jan 07, 2020",172.21,172.31,171.91,172.12,582.59K,-0.07%,0.40,0.07,0.33,0.40,0.860000,NaN
"Jan 08, 2020",172.50,173.22,171.26,171.78,825.68K,-0.20%,1.96,1.10,0.86,1.96,1.080000,0.398848
...,...,...,...,...,...,...,...,...,...,...,...,...
"Apr 25, 2022",153.14,155.26,153.11,154.89,814.83K,1.07%,2.15,2.01,0.14,2.15,0.868672,0.679007
"Apr 26, 2022",154.56,155.72,154.19,155.49,-,0.39%,1.53,0.83,0.70,1.53,0.869782,0.888043
"Apr 27, 2022",155.45,155.83,154.82,155.46,779.88K,-0.02%,1.01,0.34,0.67,1.01,0.870017,1.009440
"Apr 28, 2022",155.35,156.00,154.02,154.15,961.40K,-0.84%,1.98,0.54,1.44,1.98,0.871873,0.952533
"Apr 29, 2022",154.44,154.69,153.43,153.59,979.01K,-0.36%,1.26,0.54,0.72,1.26,0.872521,0.832334